#contact {
    min-height: 100vh;
    display: grid;
    place-items: center;
    margin: 2rem 0;
}

#contact .container .content {
    --gap: 12px;
    display: inline-flex;
    flex-wrap: wrap;
    margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
    width: calc(100% + var(--gap));
  }
  
#contact .container .content > * {
margin: var(--gap) 0 0 var(--gap);
}

#contact .container .content .office .office-image img{
    width: 100%;
}

#contact .container .content .form {
    width: 100%;
}

.form-group .form-control{
    width: 100%;
    padding: .5rem 0;
    margin: .5rem 0;
}